.From{
    padding: 10px;
}
.code{
    background-color: lightgray;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 10px;
}
.footer {
   padding: 10px;
   display: flex;
   align-items: center;
}
.footer>button{
    margin-left: 10px;
}