.drawer{
    flex: 1;
    display: flex;
}
.drawer__menu{
    flex: 1;
}
.List{
    width: 300px;
}
.drawer__logo {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.drawer__logo>img{
    width: 50px;
    object-fit: contain;
}
.drawer__logo>h3{
   margin-left: 5px;
}
.drawer__footer{
    text-align: center;
}
.drawer__footer>h3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.drawer__footer>h3>.MuiSvgIcon-root{
    color: mediumvioletred;
}
.drawer__footer>h3>a{
    text-decoration: none;
    color: black;
}