.diagram{
    display: flex;
    align-items: center;
    justify-content: center;
}
.diagram__item{
    margin-left: 20px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}