.Map{
    padding: 10px;
}
.map__code{
    background-color: lightgray;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}